html,
body {
  padding: 0;
  margin: 0;
  font-family: "Yekan Bakh", sans-serif;
  background:#F9FAFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-rsbs-overlay]{
   z-index: 11 !important;
  background: #F9FAFF !important;
  background-image: url("/world_map.svg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.torn::before{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  background-color: #8c929b;
  height: 100%;
  width: 40px;
  border-radius: 100%;
  box-shadow: inset 0px 0 4px 0px #0000004f;
}
.torn::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  background-color: #8c929b;
  height: 100%;
  width: 40px;
  border-radius: 100%;
  box-shadow: inset 0px 0 4px 0px #0000004f;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
